<div class="navbar-spacer"></div>

<header class="navbar-shell" [class.navbar-shell--scrolled]="isScrolled" [class.navbar-shell--hidden]="isHidden">
  <div class="navbar">
    <h2 routerLink="/home"><img src="assets/imgs/code-icon.svg" alt="Code"> Jhordan Caro </h2>

    <nav class="menus">
      <a href="/home">{{ 'nav.home' | t }}</a>
      <a href="/home#exp">{{ 'nav.experience' | t }}</a>
      <a href="/home#skills">{{ 'nav.skills' | t }}</a>
      <a href="/home#projects">{{ 'nav.projects' | t }}</a>
      <a (click)="openContactModal()">{{ 'nav.contact' | t }}</a>
      <a class="cv" [href]="'footer.cvFile' | t" download>CV</a>
      <ng-container *ngTemplateOutlet="langSwitch"></ng-container>
    </nav>

    <div class="mobile" (click)="toggleMobileNavbar()">
      <img src="assets/imgs/menu.svg" alt="Menu">
    </div>
  </div>
</header>

<div class="navbar--mobile--blank" [class.navbar--mobile--blank--open]="isMobileNavbarOpen" (click)="toggleMobileNavbar()"></div>

<div class="navbar--mobile" [class.navbar--mobile--open]="isMobileNavbarOpen">
  <img (click)="toggleMobileNavbar()" class="close" src="assets/imgs/close.svg" alt="Close">

  <a (click)="toggleMobileNavbar()" href="/home">{{ 'nav.home' | t }}</a>
  <a (click)="toggleMobileNavbar()" href="/home#exp">{{ 'nav.experience' | t }}</a>
  <a (click)="toggleMobileNavbar()" href="/home#skills">{{ 'nav.skills' | t }}</a>
  <a (click)="toggleMobileNavbar()" href="/home#projects">{{ 'nav.projects' | t }}</a>
  <a (click)="toggleMobileNavbar(); openContactModal()">{{ 'nav.contact' | t }}</a>
  <a [href]="'footer.cvFile' | t" download>CV</a>
  <ng-container *ngTemplateOutlet="langSwitch"></ng-container>
</div>

<ng-template #langSwitch>
  <button type="button"
          class="lang-switch"
          [class.lang-switch--es]="language.lang === 'es'"
          [attr.aria-label]="'lang.switch' | t"
          [title]="'lang.switch' | t"
          (click)="language.toggle()">
    <span class="lang-switch__thumb"></span>
    <span class="lang-switch__option" [class.is-active]="language.lang === 'en'">EN</span>
    <span class="lang-switch__option" [class.is-active]="language.lang === 'es'">ES</span>
  </button>
</ng-template>
